* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'inter, sans-serif;
}

.flex {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, #672280, #A626D3);
  padding: 30px 25px;
  color: white;
}

.header--logo {
  width: 31px;
  margin-right: 10px;
}
.header--title, .header--project {
  margin: 0;
}
.header--title {
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -2px;
}
.header--project {
  font-size: 12px;
  font-weight: 1.25rem;
}


.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,35px);
  gap: 30px;
}

section {
  padding: 30px;
}

.form > button {
  grid-column: span 2;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.form--input {
  border: solid 1px #D5D4D8;
  border-radius: 5px;
  text-indent: 12px;
  color: #0d0d0d;
}


.meme--form {
  margin-top: 30px;
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
}
.meme--image {
  max-width: 100%;
  border-radius: 5px;
}

.meme--text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top {
  top:0;
}


.bottom {
  bottom:0;
}