* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'inter, sans-serif;
}

.flex {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, #672280, #A626D3);
  padding: 30px 25px;
  color: white;
}

.header--logo {
  width: 31px;
  margin-right: 10px;
}
.header--title, .header--project {
  margin: 0;
}
.header--title {
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -2px;
}
.header--project {
  font-size: 12px;
  font-weight: 1.25rem;
}